<div id="<%= dom_id category %>">
  <p>
    <strong>Ring:</strong>
    <%= category.ring %>
  </p>

  <p>
    <strong>Necklace:</strong>
    <%= category.necklace %>
  </p>

  <p>
    <strong>Earring:</strong>
    <%= category.earring %>
  </p>

</div>
